# Import libraries

In [2]:
conda install -c conda-forge mlxtend

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.10.1
  latest version: 4.11.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /Users/somenath/opt/anaconda3

  added / updated specs:
    - mlxtend


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.11.0               |   py38h50d1736_0        16.9 MB  conda-forge
    mlxtend-0.19.0             |     pyhd8ed1ab_0         1.2 MB  conda-forge
    python_abi-3.8             |           2_cp38           4 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        18.1 MB

The following NEW packages will be INSTALLED:

  mlxtend            conda-forge/noarch::mlxtend-0.19.0-pyhd8ed1ab_0
  python_abi         conda-forge/osx-64::python_abi-3.8-2_cp38

The following packages will be UPDATED:

  conda              pkgs/main::conda-4.10.1-py38hecd8cb5_1 --> conda-forge::conda-4.11.0-py38h50d1736_0



Downloading and Extracting Packages
conda-4.11.0         | 16.9 MB   | ##################################### | 100%
mlxtend-0.19.0       | 1.2 MB    | ##################################### | 100%
python_abi-3.8       | 4 KB      | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.20.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 614 kB/s eta 0:00:01
Requirement already satisfied: scikit-learn>=1.0.2 in /Users/somenathmandal/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: matplotlib>=3.0.0 in /Users/somenathmandal/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (3.5.1)
Requirement already satisfied: joblib>=0.13.2 in /Users/somenathmandal/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scipy>=1.2.1 in /Users/somenathmandal/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: numpy>=1.16.2 in /Users/somenathmandal/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: pandas>=0.24.2 in /Users/somenathmandal/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: setuptools in /Users/somenathmandal/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (61.2.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/somenathmandal/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/somenathmandal/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (9.0.1)
Requirement already satisfied: cycler>=0.10 in /Users/somenathmandal/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /Users/somenathmandal/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in /Users/somenathmandal/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/somenathmandal/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/somenathmandal/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: pytz>=2020.1 in /Users/somenathmandal/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/somenathmandal/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/somenathmandal/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.20.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

from mlxtend.frequent_patterns import apriori,association_rules
#from mlxtend.preprocessing import TransactionEncoder
 #conda install -c conda-forge mlxtend

In [2]:
pd.set_option("display.max_rows",500)
pd.set_option("display.max_columns",500)

In [3]:
ls

Association Rules.ipynb      Titanic.csv
Movie.csv                    Untitled.ipynb
Recommendation Engine.ipynb

In [3]:
titanic = pd.read_csv("Titanic.csv")
titanic.sample(5)

     Class  Gender    Age Survived
1394   2nd  Female  Adult       No
371    3rd    Male  Adult       No
605    3rd    Male  Adult       No
2076   2nd  Female  Adult      Yes
1811  Crew    Male  Adult      Yes

In [4]:
titanic.shape

(2201, 4)

In [5]:
for i in titanic.columns:
    print(i)
    print(titanic[i].value_counts())
    print()

Class
Crew    885
3rd     706
1st     325
2nd     285
Name: Class, dtype: int64

Gender
Male      1731
Female     470
Name: Gender, dtype: int64

Age
Adult    2092
Child     109
Name: Age, dtype: int64

Survived
No     1490
Yes     711
Name: Survived, dtype: int64

# Pre-Processing
get dummies

In [6]:
titanic.head()

  Class Gender    Age Survived
0   3rd   Male  Child       No
1   3rd   Male  Child       No
2   3rd   Male  Child       No
3   3rd   Male  Child       No
4   3rd   Male  Child       No

In [7]:
df=pd.get_dummies(titanic)
df.head()

,Class_1st,Class_2nd,Class_3rd,Class_Crew,Gender_Female,Gender_Male,Age_Adult,Age_Child,Survived_No,Survived_Yes
0,0,0,1,0,0,1,0,1,1,0
1,0,0,1,0,0,1,0,1,1,0
2,0,0,1,0,0,1,0,1,1,0
3,0,0,1,0,0,1,0,1,1,0
4,0,0,1,0,0,1,0,1,1,0

# Apriori Algorithm

In [8]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

/Users/somenathmandal/opt/anaconda3/lib/python3.9/site-packages/mlxtend/frequent_patterns/fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                                           itemsets
0   0.147660                                        (Class_1st)
1   0.129487                                        (Class_2nd)
2   0.320763                                        (Class_3rd)
3   0.402090                                       (Class_Crew)
4   0.213539                                    (Gender_Female)
5   0.786461                                      (Gender_Male)
6   0.950477                                        (Age_Adult)
7   0.676965                                      (Survived_No)
8   0.323035                                     (Survived_Yes)
9   0.144934                             (Class_1st, Age_Adult)
10  0.118582                             (Age_Adult, Class_2nd)
11  0.231713                           (Gender_Male, Class_3rd)
12  0.284871                             (Age_Adult, Class_3rd)
13  0.239891                           (Class_3rd, Survived_No)
14  0.391640                          (Class_Crew, Gender_Male)
15  0.402090                            (Class_Crew, Age_Adult)
16  0.305770                          (Class_Crew, Survived_No)
17  0.193094                         (Age_Adult, Gender_Female)
18  0.156293                      (Survived_Yes, Gender_Female)
19  0.757383                           (Age_Adult, Gender_Male)
20  0.619718                         (Gender_Male, Survived_No)
21  0.166742                        (Gender_Male, Survived_Yes)
22  0.653339                           (Age_Adult, Survived_No)
23  0.297138                          (Age_Adult, Survived_Yes)
24  0.209905                (Gender_Male, Age_Adult, Class_3rd)
25  0.191731              (Gender_Male, Class_3rd, Survived_No)
26  0.216265                (Age_Adult, Class_3rd, Survived_No)
27  0.391640               (Class_Crew, Age_Adult, Gender_Male)
28  0.304407             (Class_Crew, Gender_Male, Survived_No)
29  0.305770               (Class_Crew, Age_Adult, Survived_No)
30  0.143571           (Age_Adult, Survived_Yes, Gender_Female)
31  0.603816              (Age_Adult, Gender_Male, Survived_No)
32  0.153567             (Age_Adult, Gender_Male, Survived_Yes)
33  0.175829   (Gender_Male, Age_Adult, Class_3rd, Survived_No)
34  0.304407  (Class_Crew, Age_Adult, Gender_Male, Survived_No)

In [9]:
titanic[titanic["Gender"]=="Male"].shape[0]/titanic.shape[0]

0.7864606996819627

In [10]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.3)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Survived_Yes),(Gender_Female),0.323035,0.213539,0.156293,0.483826,2.265745,0.087312,1.523634
1,(Gender_Female),(Survived_Yes),0.213539,0.323035,0.156293,0.731915,2.265745,0.087312,2.525187
2,"(Age_Adult, Survived_Yes)",(Gender_Female),0.297138,0.213539,0.143571,0.483180,2.262724,0.080121,1.521732
3,"(Age_Adult, Gender_Female)",(Survived_Yes),0.193094,0.323035,0.143571,0.743529,2.301699,0.081195,2.639542
4,(Survived_Yes),"(Age_Adult, Gender_Female)",0.323035,0.193094,0.143571,0.444444,2.301699,0.081195,1.452431
5,(Gender_Female),"(Age_Adult, Survived_Yes)",0.213539,0.297138,0.143571,0.672340,2.262724,0.080121,2.145099
6,"(Class_Crew, Survived_No)","(Gender_Male, Age_Adult)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079
7,"(Gender_Male, Age_Adult)","(Class_Crew, Survived_No)",0.757383,0.305770,0.304407,0.401920,1.314450,0.072822,1.160764

In [12]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.6).head(30)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Class_1st),(Age_Adult),0.147660,0.950477,0.144934,0.981538,1.032680,0.004587,2.682493
1,(Age_Adult),(Class_1st),0.950477,0.147660,0.144934,0.152486,1.032680,0.004587,1.005694
2,(Age_Adult),(Class_2nd),0.950477,0.129487,0.118582,0.124761,0.963505,-0.004492,0.994601
3,(Class_2nd),(Age_Adult),0.129487,0.950477,0.118582,0.915789,0.963505,-0.004492,0.588085
4,(Gender_Male),(Class_3rd),0.786461,0.320763,0.231713,0.294627,0.918520,-0.020555,0.962947
5,(Class_3rd),(Gender_Male),0.320763,0.786461,0.231713,0.722380,0.918520,-0.020555,0.769177
6,(Age_Adult),(Class_3rd),0.950477,0.320763,0.284871,0.299713,0.934375,-0.020008,0.969941
7,(Class_3rd),(Age_Adult),0.320763,0.950477,0.284871,0.888102,0.934375,-0.020008,0.442572
8,(Class_3rd),(Survived_No),0.320763,0.676965,0.239891,0.747875,1.104747,0.022745,1.281251
9,(Survived_No),(Class_3rd),0.676965,0.320763,0.239891,0.354362,1.104747,0.022745,1.052040
10,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
11,(Gender_Male),(Class_Crew),0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004
12,(Class_Crew),(Age_Adult),0.402090,0.950477,0.402090,1.000000,1.052103,0.019913,inf
13,(Age_Adult),(Class_Crew),0.950477,0.402090,0.402090,0.423040,1.052103,0.019913,1.036311
14,(Class_Crew),(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
15,(Survived_No),(Class_Crew),0.676965,0.402090,0.305770,0.451678,1.123325,0.033569,1.090436
16,(Age_Adult),(Gender_Female),0.950477,0.213539,0.193094,0.203155,0.951370,-0.009870,0.986968
17,(Gender_Female),(Age_Adult),0.213539,0.950477,0.193094,0.904255,0.951370,-0.009870,0.517240
18,(Survived_Yes),(Gender_Female),0.323035,0.213539,0.156293,0.483826,2.265745,0.087312,1.523634
19,(Gender_Female),(Survived_Yes),0.213539,0.323035,0.156293,0.731915,2.265745,0.087312,2.525187
20,(Age_Adult),(Gender_Male),0.950477,0.786461,0.757383,0.796845,1.013204,0.009870,1.051116
21,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,0.009870,1.339441
22,(Gender_Male),(Survived_No),0.786461,0.676965,0.619718,0.787984,1.163995,0.087312,1.523634
23,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,0.087312,2.525187
24,(Gender_Male),(Survived_Yes),0.786461,0.323035,0.166742,0.212016,0.656326,-0.087312,0.859110
25,(Survived_Yes),(Gender_Male),0.323035,0.786461,0.166742,0.516174,0.656326,-0.087312,0.441356
26,(Age_Adult),(Survived_No),0.950477,0.676965,0.653339,0.687380,1.015386,0.009900,1.033317
27,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,0.009900,1.419023
28,(Age_Adult),(Survived_Yes),0.950477,0.323035,0.297138,0.312620,0.967757,-0.009900,0.984848
29,(Survived_Yes),(Age_Adult),0.323035,0.950477,0.297138,0.919831,0.967757,-0.009900,0.617734

In [19]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.1)
rules[rules["lift"]>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Class_3rd),(Survived_No),0.320763,0.676965,0.239891,0.747875,1.104747,0.022745,1.281251
1,(Survived_No),(Class_3rd),0.676965,0.320763,0.239891,0.354362,1.104747,0.022745,1.052040
2,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
3,(Gender_Male),(Class_Crew),0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004
4,(Class_Crew),(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
5,(Survived_No),(Class_Crew),0.676965,0.402090,0.305770,0.451678,1.123325,0.033569,1.090436
6,(Survived_Yes),(Gender_Female),0.323035,0.213539,0.156293,0.483826,2.265745,0.087312,1.523634
7,(Gender_Female),(Survived_Yes),0.213539,0.323035,0.156293,0.731915,2.265745,0.087312,2.525187
8,(Gender_Male),(Survived_No),0.786461,0.676965,0.619718,0.787984,1.163995,0.087312,1.523634
9,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,0.087312,2.525187
10,"(Gender_Male, Class_3rd)",(Survived_No),0.231713,0.676965,0.191731,0.827451,1.222295,0.034870,1.872135
11,(Survived_No),"(Gender_Male, Class_3rd)",0.676965,0.231713,0.191731,0.283221,1.222295,0.034870,1.071861
12,"(Age_Adult, Class_3rd)",(Survived_No),0.284871,0.676965,0.216265,0.759171,1.121433,0.023418,1.341344
13,(Survived_No),"(Age_Adult, Class_3rd)",0.676965,0.284871,0.216265,0.319463,1.121433,0.023418,1.050831
14,"(Class_Crew, Age_Adult)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
15,"(Gender_Male, Age_Adult)",(Class_Crew),0.757383,0.402090,0.391640,0.517097,1.286022,0.087104,1.238157
16,(Class_Crew),"(Gender_Male, Age_Adult)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480
17,(Gender_Male),"(Class_Crew, Age_Adult)",0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004
18,"(Class_Crew, Gender_Male)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,0.039280,1.450292
19,"(Class_Crew, Survived_No)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
20,"(Gender_Male, Survived_No)",(Class_Crew),0.619718,0.402090,0.304407,0.491202,1.221623,0.055225,1.175143
21,(Class_Crew),"(Gender_Male, Survived_No)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
22,(Gender_Male),"(Class_Crew, Survived_No)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
23,(Survived_No),"(Class_Crew, Gender_Male)",0.676965,0.391640,0.304407,0.449664,1.148157,0.039280,1.105434
24,"(Class_Crew, Age_Adult)",(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
25,"(Age_Adult, Survived_No)",(Class_Crew),0.653339,0.402090,0.305770,0.468011,1.163946,0.043069,1.123915
26,(Class_Crew),"(Age_Adult, Survived_No)",0.402090,0.653339,0.305770,0.760452,1.163946,0.043069,1.447145
27,(Survived_No),"(Class_Crew, Age_Adult)",0.676965,0.402090,0.305770,0.451678,1.123325,0.033569,1.090436
28,"(Age_Adult, Survived_Yes)",(Gender_Female),0.297138,0.213539,0.143571,0.483180,2.262724,0.080121,1.521732
29,"(Age_Adult, Gender_Female)",(Survived_Yes),0.193094,0.323035,0.143571,0.743529,2.301699,0.081195,2.639542
30,(Survived_Yes),"(Age_Adult, Gender_Female)",0.323035,0.193094,0.143571,0.444444,2.301699,0.081195,1.452431
31,(Gender_Female),"(Age_Adult, Survived_Yes)",0.213539,0.297138,0.143571,0.672340,2.262724,0.080121,2.145099
32,"(Gender_Male, Age_Adult)",(Survived_No),0.757383,0.676965,0.603816,0.797241,1.177669,0.091095,1.593193
33,"(Age_Adult, Survived_No)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,0.089991,2.817152
34,(Gender_Male),"(Age_Adult, Survived_No)",0.786461,0.653339,0.603816,0.767764,1.175139,0.089991,1.492710
35,(Survived_No),"(Gender_Male, Age_Adult)",0.676965,0.757383,0.603816,0.891946,1.177669,0.091095,2.245337
36,"(Age_Adult, Gender_Male, Class_3rd)",(Survived_No),0.209905,0.676965,0.175829,0.837662,1.237379,0.033731,1.989896
37,"(Gender_Male, Class_3rd)","(Age_Adult, Survived_No)",0.231713,0.653339,0.175829,0.758824,1.161454,0.024442,1.437373
38,"(Age_Adult, Survived_No)","(Gender_Male, Class_3rd)",0.653339,0.231713,0.175829,0.269124,1.161454,0.024442,1.051186
39,(Survived_No),"(Age_Adult, Gender_Male, Class_3rd)",0.676965,0.209905,0.175829,0.259732,1.237379,0.033731,1.067309
40,"(Gender_Male, Class_Crew, Age_Adult)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,0.039280,1.450292
41,"(Class_Crew, Age_Adult, Survived_No)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
42,"(Gender_Male, Age_Adult, Survived_No)",(Class_Crew),0.603816,0.402090,0.304407,0.504138,1.253795,0.061619,1.205800
43,"(Class_Crew, Age_Adult)","(Gender_Male, Survived_No)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
44,"(Class_Crew, Gender_Male)","(Age_Adult, Survived_No)",0.391640,0.653339,0.304407,0.777262,1.189676,0.048533,1.556362
45,"(Class_Crew, Survived_No)","(Gender_Male, Age_Adult)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079
46,"(Gender_Male, Age_Adult)","(Class_Crew, Survived_No)",0.757383,0.305770,0.304407,0.401920,1.314450,0.072822,1.160764
47,"(Age_Adult, Survived_No)","(Class_Crew, Gender_Male)",0.653339,0.391640,0.304407,0.465925,1.189676,0.048533,1.139090
48,"(Gender_Male, Survived_No)","(Class_Crew, Age_Adult)",0.619718,0.402090,0.304407,0.491202,1.221623,0.055225,1.175143
49,(Class_Crew),"(Gender_Male, Age_Adult, Survived_No)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802
50,(Gender_Male),"(Class_Crew, Age_Adult, Survived_No)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
51,(Survived_No),"(Gender_Male, Class_Crew, Age_Adult)",0.676965,0.391640,0.304407,0.449664,1.148157,0.039280,1.105434

In [18]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
28,"(Gender_Female, Age_Adult)",(Survived_Yes),0.193094,0.323035,0.143571,0.743529,2.301699,0.081195,2.639542
31,(Survived_Yes),"(Gender_Female, Age_Adult)",0.323035,0.193094,0.143571,0.444444,2.301699,0.081195,1.452431
6,(Gender_Female),(Survived_Yes),0.213539,0.323035,0.156293,0.731915,2.265745,0.087312,2.525187
7,(Survived_Yes),(Gender_Female),0.323035,0.213539,0.156293,0.483826,2.265745,0.087312,1.523634
30,(Gender_Female),"(Survived_Yes, Age_Adult)",0.213539,0.297138,0.143571,0.672340,2.262724,0.080121,2.145099
29,"(Survived_Yes, Age_Adult)",(Gender_Female),0.297138,0.213539,0.143571,0.483180,2.262724,0.080121,1.521732
44,"(Survived_No, Class_Crew)","(Age_Adult, Gender_Male)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079
47,"(Age_Adult, Gender_Male)","(Survived_No, Class_Crew)",0.757383,0.305770,0.304407,0.401920,1.314450,0.072822,1.160764
15,"(Age_Adult, Gender_Male)",(Class_Crew),0.757383,0.402090,0.391640,0.517097,1.286022,0.087104,1.238157
16,(Class_Crew),"(Age_Adult, Gender_Male)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480
51,(Gender_Male),"(Survived_No, Class_Crew, Age_Adult)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
40,"(Survived_No, Class_Crew, Age_Adult)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
18,"(Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
23,(Gender_Male),"(Survived_No, Class_Crew)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
50,(Class_Crew),"(Survived_No, Age_Adult, Gender_Male)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802
41,"(Survived_No, Age_Adult, Gender_Male)",(Class_Crew),0.603816,0.402090,0.304407,0.504138,1.253795,0.061619,1.205800
14,"(Class_Crew, Age_Adult)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
2,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
17,(Gender_Male),"(Class_Crew, Age_Adult)",0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004
3,(Gender_Male),(Class_Crew),0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004

In [22]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Survived_No),(Class_3rd),0.676965,0.320763,0.239891,0.354362,1.104747,0.022745,1.052040
1,(Class_3rd),(Survived_No),0.320763,0.676965,0.239891,0.747875,1.104747,0.022745,1.281251
2,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
3,(Gender_Male),(Class_Crew),0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004
4,(Survived_No),(Class_Crew),0.676965,0.402090,0.305770,0.451678,1.123325,0.033569,1.090436
5,(Class_Crew),(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
6,(Gender_Female),(Survived_Yes),0.213539,0.323035,0.156293,0.731915,2.265745,0.087312,2.525187
7,(Survived_Yes),(Gender_Female),0.323035,0.213539,0.156293,0.483826,2.265745,0.087312,1.523634
8,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,0.087312,2.525187
9,(Gender_Male),(Survived_No),0.786461,0.676965,0.619718,0.787984,1.163995,0.087312,1.523634
10,"(Class_3rd, Gender_Male)",(Survived_No),0.231713,0.676965,0.191731,0.827451,1.222295,0.034870,1.872135
11,(Survived_No),"(Class_3rd, Gender_Male)",0.676965,0.231713,0.191731,0.283221,1.222295,0.034870,1.071861
12,"(Class_3rd, Age_Adult)",(Survived_No),0.284871,0.676965,0.216265,0.759171,1.121433,0.023418,1.341344
13,(Survived_No),"(Class_3rd, Age_Adult)",0.676965,0.284871,0.216265,0.319463,1.121433,0.023418,1.050831
14,"(Class_Crew, Age_Adult)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
15,"(Age_Adult, Gender_Male)",(Class_Crew),0.757383,0.402090,0.391640,0.517097,1.286022,0.087104,1.238157
16,(Class_Crew),"(Age_Adult, Gender_Male)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480
17,(Gender_Male),"(Class_Crew, Age_Adult)",0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004
18,"(Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
19,"(Survived_No, Gender_Male)",(Class_Crew),0.619718,0.402090,0.304407,0.491202,1.221623,0.055225,1.175143
20,"(Class_Crew, Gender_Male)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,0.039280,1.450292
21,(Survived_No),"(Class_Crew, Gender_Male)",0.676965,0.391640,0.304407,0.449664,1.148157,0.039280,1.105434
22,(Class_Crew),"(Survived_No, Gender_Male)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
23,(Gender_Male),"(Survived_No, Class_Crew)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
24,"(Survived_No, Age_Adult)",(Class_Crew),0.653339,0.402090,0.305770,0.468011,1.163946,0.043069,1.123915
25,"(Class_Crew, Age_Adult)",(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
26,(Survived_No),"(Class_Crew, Age_Adult)",0.676965,0.402090,0.305770,0.451678,1.123325,0.033569,1.090436
27,(Class_Crew),"(Survived_No, Age_Adult)",0.402090,0.653339,0.305770,0.760452,1.163946,0.043069,1.447145
28,"(Gender_Female, Age_Adult)",(Survived_Yes),0.193094,0.323035,0.143571,0.743529,2.301699,0.081195,2.639542
29,"(Survived_Yes, Age_Adult)",(Gender_Female),0.297138,0.213539,0.143571,0.483180,2.262724,0.080121,1.521732
30,(Gender_Female),"(Survived_Yes, Age_Adult)",0.213539,0.297138,0.143571,0.672340,2.262724,0.080121,2.145099
31,(Survived_Yes),"(Gender_Female, Age_Adult)",0.323035,0.193094,0.143571,0.444444,2.301699,0.081195,1.452431
32,"(Survived_No, Age_Adult)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,0.089991,2.817152
33,"(Age_Adult, Gender_Male)",(Survived_No),0.757383,0.676965,0.603816,0.797241,1.177669,0.091095,1.593193
34,(Survived_No),"(Age_Adult, Gender_Male)",0.676965,0.757383,0.603816,0.891946,1.177669,0.091095,2.245337
35,(Gender_Male),"(Survived_No, Age_Adult)",0.786461,0.653339,0.603816,0.767764,1.175139,0.089991,1.492710
36,"(Class_3rd, Age_Adult, Gender_Male)",(Survived_No),0.209905,0.676965,0.175829,0.837662,1.237379,0.033731,1.989896
37,"(Survived_No, Age_Adult)","(Class_3rd, Gender_Male)",0.653339,0.231713,0.175829,0.269124,1.161454,0.024442,1.051186
38,"(Class_3rd, Gender_Male)","(Survived_No, Age_Adult)",0.231713,0.653339,0.175829,0.758824,1.161454,0.024442,1.437373
39,(Survived_No),"(Class_3rd, Age_Adult, Gender_Male)",0.676965,0.209905,0.175829,0.259732,1.237379,0.033731,1.067309
40,"(Survived_No, Class_Crew, Age_Adult)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
41,"(Survived_No, Age_Adult, Gender_Male)",(Class_Crew),0.603816,0.402090,0.304407,0.504138,1.253795,0.061619,1.205800
42,"(Class_Crew, Age_Adult, Gender_Male)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,0.039280,1.450292
43,"(Survived_No, Age_Adult)","(Class_Crew, Gender_Male)",0.653339,0.391640,0.304407,0.465925,1.189676,0.048533,1.139090
44,"(Survived_No, Class_Crew)","(Age_Adult, Gender_Male)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079
45,"(Survived_No, Gender_Male)","(Class_Crew, Age_Adult)",0.619718,0.402090,0.304407,0.491202,1.221623,0.055225,1.175143
46,"(Class_Crew, Age_Adult)","(Survived_No, Gender_Male)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
47,"(Age_Adult, Gender_Male)","(Survived_No, Class_Crew)",0.757383,0.305770,0.304407,0.401920,1.314450,0.072822,1.160764
48,"(Class_Crew, Gender_Male)","(Survived_No, Age_Adult)",0.391640,0.653339,0.304407,0.777262,1.189676,0.048533,1.556362
49,(Survived_No),"(Class_Crew, Age_Adult, Gender_Male)",0.676965,0.391640,0.304407,0.449664,1.148157,0.039280,1.105434
50,(Class_Crew),"(Survived_No, Age_Adult, Gender_Male)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802
51,(Gender_Male),"(Survived_No, Class_Crew, Age_Adult)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622